@import url("https://fonts.googleapis.com/css2?family=Alegreya:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Commissioner:wght@100..900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

html {
  scroll-behavior: smooth;
}

html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@media (min-width: 768px) {
  html,
  body {
    overflow-x: hidden;
  }
}

@media (max-width: 767px) {
  html,
  body {
    overflow: visible;
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
}

@media (max-width: 1023px) {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
}

@layer utilities {
  .scrollbar::-webkit-scrollbar {
    scrollbar-width: thin;
    height: auto;
  }

  .scrollbar::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: #E8EAF6;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: #3B447A;
    border-radius: 100vh;
    border: 1px solid #E8EAF6;
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    background: #3B447A;
  }
}

.cl-internal-180wb59, .cl-userButtonPopoverFooter, .cl-internal-lqfubk {
  display: none;
}

.cl-userProfileRoot, .cl-rootBox {
  font-family: 'Inter', sans-serif;
}

.hide-scrollbar::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.img-fit {
  @apply bg-no-repeat bg-center bg-cover;
}

.MuiInputBase-root, .MuiOutlinedInput-root, .MuiInputBase-colorPrimary, .css-8ik405-MuiInputBase-root-MuiOutlinedInput-root-MuiSelect-root {
  border: none;
  }
  
.bookmarkBtn:hover {
  background-color: inherit !important;
}

.cardEllipsis {
    display: -webkit-box;
    line-clamp: 2;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.sidePb {
  content: "";
  display: block;
  height: 50px;
  width: 100%;
}